# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Coverage
.coverage*
coverage.xml
htmlcov/

# Environments
.venv/
.pixi/

# Packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store

